{% extends 'base.html' %}

{% block content %}

<div class="form-wrapper d-flex justify-content-center align-items-center mt-5">
    <form class="text-center" action="search_word" method="post">

        {% csrf_token %}

        <strong>Enter a Tagalog word and I will return the part of speech:</strong> <br/>
        <div class="form-group">
            <input class="form-control" type="text" name="word">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" placeholder="e.g. 'maliit'">
    </form>
</div>


<!--This button is for populating the database with new pos data it is hidden by default-->

<!--<button type="button" onclick="location.href='{% url 'pop_database' %}'">Populate the database</button>-->

<style>
    form {
        width: 40%;
    }
    input.form-control {
        margin: auto;
        margin-top: 20px;
        width: 40%;
    }
</style>

{% endblock %}